.chapters-container {
  width: 98%;
  height: 91%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 10px; /* Adjust the gap between items as needed */
  padding: 5px;
}

.chapter {
  border-bottom: 1px solid grey;
}

h1 {
  text-align: center;
  margin:  0;
}




