mat-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.img {
  width: 6%;
  padding-left: 10px;
  cursor: pointer;
}

img {
  height: 50px;
  width: 50px;
}

p {
  margin: 0;
}

.novel-content {
  width: 54%;
  cursor: pointer;
}

.time {
  width: 20%;
}

.action {
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
