.container {
  display: flex;
  margin: 5px;
}

.ranking-novel-container {
  width: 65%;
}

.ranking-title {
  width: 35%;
}

@media (max-width: 1000px) {
  .ranking-title {
    width: 10%;
    min-width: 150px;
  }

  .ranking-novel-container {
    width: 90%;
  }

}
